*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(218, 215, 215);
}

.menu-nav{
    background-color: rgb(129, 129, 129);
}

.menu-nav ul{
    display: inline-flex ;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;

}


.menu-nav li{
    height: 50px;
}

.menu-nav a{
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: end;
    color: black;
    font-size: 27px;
    margin-bottom: 20px;
}
.logo{
    margin: 3px;
    margin-left: 10px;
    margin-right: 500px;
    width: 100px;
    padding: 10px;
    border-radius: 50px;

    
}


.menu-nav a:hover{
    color: white;
    
    
}
    

.menu-nav ul li ul{
 
    display: none;
    position: absolute;
    background-color: rgb(223, 230, 236);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    min-width:200px;
   z-index: 999;

}

.menu-nav ul li:hover ul{
    display: block;

}

.menu-nav ul li ul li a{
width: 180px;
padding: 10px 20px;
border-radius: 10px;
display: block;
}


.menu-nav ul li ul li a:hover{
    color: black;
    background-color: white;
}


.newSeason{
    display: flex;
    margin-top: 30px;
}

.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nsImg{
    width: 100%;
    height: 500px;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.nsTitle{
    font-size: 40px;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.nsItem a{
    text-decoration: none;
    color: #000000;
}
.nsItem a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.smallcontainer{
    margin: auto;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #3f3f3f;
}
.title::after{
    content: '' ;
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end:0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;
}
p{
    color: #555;
    font-weight: normal;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col4, .rating, h4{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.col4{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px rgb(183, 177,177);
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 7px;
    padding: 10px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col4 a{
    text-decoration: none;
    color: #000000;
}
.col4 a:-webkit-any-link{
    cursor: pointer;
}
.col4 img{
    width: 100%;
    height: 500px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.rating .fa{
    color: #ff523b;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-star::before{
    content: "\f005";
}
i{
    margin-right: 15px;
}

.buy-button
{
    background-color: #d3cdb5c6;
    color:black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.add-to-cart-button{
    background-color: #455763;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



.offer .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.offer{
    background: radial-gradient(#fff,rgb(109,110,110));
    margin: auto;
    padding: 30px 0;
    
}
.col22{
    flex-basis: 30%;
    min-width: 300px;
}
.col22 img{
    overflow-clip-margin: content-box;
    overflow: clip;
    
}
.col22 p{
    font-size: 25px;
    margin: 0 0 0px 0;
    
}
.col22 h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0px 0;
}
.col22 small{
    font-size: 15px;
}
.testimonial{
    padding-top: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.testimonial .small-container{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    gap: 20px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size : 34px;
    color: #ff523b;
}
.testimonial .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.rating i{
    color: #ff523b;
}
.brands{
    margin: 100px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    padding-left: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 93px;
    margin-bottom: 20px;
    border-radius: 200px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
   
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}