*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(217, 217, 217);
}

.menu-nav{
    background-color: rgb(173, 171, 171);
    width:100%
}

.menu-nav ul{
    display: flex ;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px;
    flex-wrap: wrap;

}


.menu-nav li{
    position: relative;
    height: 50px;
}

.menu-nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
}
.logo{
    margin: 3px;
    margin-left: 10px;
    margin-right: 500px;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
}


.menu-nav a:hover{
    color: black;
    background-color: #e7e7d9;
    border-radius: 0.5rem;
}


    
.drop-down{
        position: absolute;
        top: 100%;
        left: 0;
        background:white;
        color: black;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        border-radius: 0.5rem;
        font-size: 19px;
        display: none;
        z-index: 999;
        min-width: 180px;
    }

    .menu-nav .services:hover .drop-down{
        display:block;
        padding-top: 0;
        padding-bottom: 0;
        padding: 0 0px;
    }
    .drop-down a{
       padding: 10px 20px;
       text-align: left;
       text-decoration: none;
       display: block;
       
    }

    .menu-nav ul li .drop-down{
        display: none;
        position: absolute;
    }

#kontenti header h2{
    text-align: center;
    margin-bottom: 20px;
}
#kontenti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma,;
    width: 800px;
    margin: 0 auto;
}         
#kontenti img{
    width: 600px;
    height: 400px;
    border:1px solid;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
#radio-buttons{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
input[type="radio"]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.3s ease;
}
input[type="radio"]:hover{
    background-color: white;
}


.menu-toggle {
     display: none;
        font-size: 30px;
        cursor: pointer;
        background: none;
        border: black;
        padding: 20px;
    }
    
    .menu-toggle:focus {
        outline: none;
    }

   @media(max-width: 1149px){
    
    
    .menu-nav ul{
        display: flex ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    position: relative;
    
    }
    
    
    .menu-nav li{
        position: relative;
        height: 20px;
    }
    
    .menu-nav a{
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: start;
        color: black;
        font-size: 15px;
    }
    .logo{
        margin: 3px;
        margin-left: 8px;
        margin-right: 0px;
        width: 80px;
        padding: 10px;
        border-radius: 50px;
    }
    
    
    .menu-nav a:hover{
        color: black;
        background-color: #e7e7d9;
        border-radius: 0.5rem;
    }
    
    .offer .row{
        padding: 20px;
        gap: 10px;
    }
    .offer .row img{
        width:90%
    }
    .offer .col22{
       font-size: 15px;
    }
    
        
    .drop-down{
            position: absolute;
            top: 100%;
            left: 0;
            background:white;
            color: black;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            border-radius: 0.5rem;
            font-size: 19px;
            display: none;
            z-index: 999;
            min-width: 180px;
        }
    
        .menu-nav .services:hover .drop-down{
            display:block;
          
        }
        .drop-down a{
           padding: 10px 20px;
           text-align: left;
           text-decoration: none;
           display: block;
           
        }
    
        .menu-nav ul li .drop-down{
            display: none;
            position: absolute;
        }
        .newSeason{
            width: 100%;
            height: 80%;
        }

        
        .nsTitle{
            font-size: 20px;
        }
        .btn .b{
            width: 100%;
         
           
        }

      .photoSlider{
        width: 100%;
      }
    
   }

    @media (max-width: 768px){
        .menu-nav ul {
            flex-direction: column;
            align-items: flex-start;
            display: none; 
            background-color: rgb(173, 171, 171);
            width: 100%;
            padding: 10px 0;
        }
    
        .menu-nav ul.show {
            display: flex; 
        }
    
        .menu-nav li {
            width: 100%; 
            text-align: left;
        }
        
        .drop-down a{
            padding: 10px 20px;
            text-align: left;
            text-decoration: none;
            display: block;
            padding-top: 0px;
            
         }
        .menu-toggle {
           display: block;
           padding: auto;
           border-color: #000;
           
           

        }

        .menu-nav a{
            color: white;
            gap: 50px;
          
        }
    
        .logo {
            margin-right: auto;
            width: 60px;
        }

        .newSeason{
            background-color: pink;
        }
        .nsItem img{
            display: none;
        }
        .nsItem{
            background-color: transparent;
        }
        .nsTitle{
            font-size: 20px;
        }
        .btn .b{
            width: 100%;
            margin-bottom: 10px;

           
        }
        .col4{
            width: 30px;
            margin-top: 10px;
            align-items: center;
            padding:0;
        }
        .smallcontainer .row{
            display:flex;
            align-items: center;
            width: 100%;
            height: 100vh;
        }
        .offer{
            display: none;
        }
        .testimonial{
            padding: 0;
           

        }
        .brands .small-container{
            display:flex;
            width: 50%;
            padding: 0;


        }
    }
.newSeason{
    display: flex;
    margin-top: 30px;
}

.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.nsImg{
    width: 100%;
    height: 500px;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.nsTitle{
    font-size: 40px;
    padding-bottom: 0;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.nsItem a{
    text-decoration: none;
    color: #000000;
}
.nsItem a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.nsItem p{
    color: white;
}
/*.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    
}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    padding-bottom: 20px;
}*/
.btn .b{
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    gap: 10px;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
}
.btn .b a{
    text-decoration: none;
    color: black;
}
.btn .b:hover{
    color: gr;
    background-color: rgb(95,94 94);
}
.smallcontainer{
    margin: auto;
}
div{
    display: block;
    unicode-bidi: isolate;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #3f3f3f;
}
.title::after{
    content: '' ;
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end:0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;
}
p{
    color: #555;
    font-weight: normal;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col4, .rating, h4{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.col4{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px rgb(183, 177,177);
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 7px;
    padding: 10px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col4 a{
    text-decoration: none;
    color: #000000;
}
.col4 a:-webkit-any-link{
    cursor: pointer;
}
.col4 img{
    width: 100%;
    height: 500px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.rating .fa{
    color: #ff523b;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-star::before{
    content: "\f005";
}
i{
    margin-right: 15px;
}

.buy-button
{
    background-color: #d3cdb5c6;
    color:black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.add-to-cart-button{
    background-color: #455763;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}



.offer .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.offer{
    background: radial-gradient(#fff,rgb(109,110,110));
    margin: auto;
    padding: 30px 0;
    
}
.col22{
    flex-basis: 30%;
    min-width: 300px;
}
.col22 img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}
.col22 p{
    font-size: 30px;
    margin: 0 0 0px 0;
    
}
.col22 h1{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0px 0;
}
.col22 small{
    font-size: 15px;
}
.testimonial{
    padding-top: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.testimonial .small-container{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    gap: 20px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size : 34px;
    color: #ff523b;
}
.testimonial .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.rating i{
    color: #ff523b;
}
.brands{
    margin: 100px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    padding-left: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 93px;
    margin-bottom: 20px;
    border-radius: 200px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
   
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
